<div class="question">
  <a class="question-name" href="<%= book_question_url(question.book, question) %>"><%= question.name %></a>
  <p class="question-description"><%= question.description %></p>
</div>