
<header class="page-title">New Question</header>

<div class="page-middle">

<form action="<%= book_questions_url(@book) %>" method="POST">
<input  
  type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>"
></input>

<label>Question *
<input type="text" name="question[name]" placeholder="required"></input>
</label>

<label>Description (optional)
<textarea name="question[description]" placeholder="optional"></textarea>
</label>

<input type="submit" value="New!"></input>
</form>

<a class="back-button" href="<%= book_url(@book) %>">CANCEL</a>

</div>