<header class="page-title">Show Question</header>

<a class="back-button" href="<%= book_url(@question.book) %>">BACK</a>

<%= render partial: "questions/list_questions", locals: { questions: [@question]} %>