<% if current_user && is_admin?(current_user) %>
<nav class="sub-navigation">
  <a href="<%= edit_question_url %>">EDIT</a>
</nav>
<% end %>

<%= render partial: "questions/list_questions", locals: { questions: [@question]} %>

<div class="page-separator"></div>
