<% if current_user && is_admin?(current_user) %>
<nav class="sub-navigation">
  <a href="<%= edit_question_url %>">EDIT</a>
</nav>
<% end %>

<div class="question-show-page">

  <%= render partial: "questions/question", locals: { question: @question} %>

<div class="page-separator"></div>

</div>