<header class="title">Reset Password</header>

<div class="page-middle">

<form action="<%= password_reset_url %>" method="POST">
<input  
  type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>"
></input>

<input type="hidden" name="_method" value="put"></input>

<input type="hidden" name="reset_token" value="<%= params[:reset_token] %>"></input>

<label>New Password
<input type="password" name="user[password]" placeholder="r e q u i r e d"></input>
</label>

<label>Retype New Password
<input type="password" name="password_reenter" placeholder="r e q u i r e d"></input>
</label>


<input type="submit" value="Reset"></input>
</form>
</div>