<header class="title">Reset Password</header>

<div class="page-middle">

<form action="<%= password_reset_url %>" method="POST">
<input  
  type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>"
></input>

<label>Email
<input type="text" name="email"></input>
</label>


<input type="submit" value="Sign in!"></input>
</form>

</div>