<div class="comment-new">
  <form action="<%= question_comments_url(question) %>" method="POST">
  <input  
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
  ></input>

  <textarea name="comment[content]"></textarea>

  <input type="submit" value="New!"></input>
  </form>
</div>
