<% if current_user %>
<div class="comment-new">
  <form action="<%= question_comments_url(question) %>" method="POST">
  <input  
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
  ></input>

    <input type="hidden" name="comment[parent_id]" value="<%= parent_id %>"></input>
  <textarea name="comment[content]"></textarea>

  <input type="submit" value="Comment!"></input>
  </form>
</div>

<% end %>
