<header class="title">Create User</header>

<form action="<%= users_url %>" method="POST">
<input  
  type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>"
></input>

<!-- <label>Avatar
<input type="file" name="avatar[file]" value=""></input>
<input type="text" name="avatar[link]" value="" placeholder="o p t i o n a l"></input>
</label> -->

<label>Email*
<input type="text" name="user[email]" placeholder="r e q u i r e d"></input>
</label>

<label>Name*
<input type="text" name="user[name]" placeholder="r e q u i r e d"></input>
</label>

<!-- <label>Password*
<input type="password" name="user[password]" placeholder="r e q u i r e d"></input>
</label> -->

<input type="submit" value="New!"></input>
</form>