<header class="title">Edit User</header>

<div class="page-middle">
  
<form action="<%= user_url %>" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="_method" value="PUT"></input>
<input  
  type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>"
></input>

<% if @user.avatar.exists? %>
<label>Delete avatar?
  <input type="checkbox" name="user[delete_avatar]" value="1"></input>
</label>
<% else %>
<label>Avatar
<input type="file" name="avatar[file]" value=""></input>
</label>
<input type="text" name="avatar[link]" value="" placeholder="optional"></input>
<% end %>

<% if is_admin?(current_user) %>
<label>Email*
<input type="text" name="user[email]"></input>
</label>
<% end %>

<label>Name*
<input type="text" name="user[name]"></input>
</label>

<label>Password*
<input type="password" name="user[password]"></input>
</label>

<input type="submit" value="Change!"></input>
</form>

<a class="back-button" href="<%= user_url(@user) %>">CANCEL</a>

</div>