<header class="title">All Users</header>
<% @users.each do |user| %>
<div class="user-square">
  <a class="user-avatar" href="<%= user_url(user) %>"><img src="<%= user.avatar.url(:square) %>"></img></a>
  <a class="user-name" href="<%= user_url(user) %>"><%= user.name %></a><br>
</div>
<% end %>