<header class="page-title">Create Book</header>

<form action="<%= books_url %>" method="POST" enctype="multipart/form-data">
<input  
  type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>"
></input>


<label>Title*
<input type="text" name="book[title]" placeholder="r e q u i r e d"></input>
</label>

<label>Author*
<input type="text" name="book[author]" placeholder="r e q u i r e d"></input>
</label>

<label>Avatar
<input type="file" name="cover[file]" value=""></input>
<input type="text" name="cover[link]" value="" placeholder="o p t i o n a l"></input>
</label>

<label>Description
<input type="text" name="book[description]" placeholder="o p t i o n a l"></input>
</label>

<label>Source
<input type="text" name="source" placeholder="o p t i o n a l"></input>
</label>

<input type="submit" value="New!"></input>
</form>