<header class="page-title">Create Book</header>

<div class="page-middle">

<form action="<%= books_url %>" method="POST" enctype="multipart/form-data">
<input  
  type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>"
></input>


<label>Title*
<input type="text" name="book[title]" placeholder="required"></input>
</label>

<label>Author*
<input type="text" name="book[author]" placeholder="required"></input>
</label>

<label>Cover
<input type="file" name="cover[file]" value=""></input>
</label>
<input type="text" name="cover[link]" value="" placeholder="optional"></input>

<label>Description
<textarea name="book[description]" placeholder="optional"></textarea>
</label>

<label>Source
<input type="file" name="source[file]" value=""></input>
</label>
<input type="text" name="source[link]" value="" placeholder="optional"></input>

<input type="submit" value="New!"></input>
</form>

</div>