/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/* ----- RESET ----- */

html, body, header, footer, section, article, div, span,
strong, a, img, p, h1, h2, h3, time, ul, li, small, input, select, form {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* ----- ELEMENTS ----- */

body {
  font-family: sans-serif;
  background: transparent;
  font-size: 16px;
  line-height: normal;
  background: #F8F8F4;
}

ul {
  list-style: none;
}

form {
  display: inline;
}

a {
  text-decoration: none;
  color: red;
}

strong {
  font-weight: bold;
}

img {
  display: block;
}

form > div {
  display:inline;
}

input[type="password"], input[type="text"], input[type="file"], input[type="checkbox"], textarea {
  background: #FDF9EC;
  font-size: 16px;
  border: 1px solid #eee;
  display:block;
  width: 400px;
  padding: 4px;
  margin-bottom: 15px; 
}

input[type="file"] {
  margin-bottom: 0px; 
}

textarea {
  height: 100px;
}

input[type="submit"] {
  width: 150px;
  background: #eee;
  padding: 10px 0px;
}

input[type="submit"]:hover{
  background: red;
  color: white;
  cursor: pointer;
}


/* ----- UTILITIES ----- */

.group:after {
  content: "";
  display: table;
  clear: both;
}

.page-title, .title {
  display: block;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 5px;
  color: #d7d7d7;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 10px solid #d7d7d7;
}

.page-middle {
  background: #ccc;
  padding: 20px;
}

.page-separator {
  background: #ccc;
  height: 10px;
  margin: 20px 0px;
}


/* ----- FLASH ----- */

.error,
.alert {
  width: 900px;
  margin: auto;
  text-align: center;
  background: red;
  color: white;
}

.alert {
  background: yellow;
  color: black;
}


/* ----- NAV ----- */

.navigation-wrapper {
  background: black;  
  width: 100%;
}

.navigation {
  background: #070707;
  width: 902px;
  height: 35px;
  margin: auto;
  color: white;
}

.navigation  a {
  color:white;
  padding: 9px 15px;
  margin-left: -7px;
  border-right: 1px solid #ccc;
}

.navigation  a:first-child {
  border-left: 1px solid #ccc;
}

.navigation  a:hover {
  background: green;
}

.left-navigation{
  margin-left: 7px;
  float: left;
  margin-top: 9px;
}

.right-navigation{
  float: right;
  margin-top: 9px;
}

.right-navigation input[type="submit"] {
  padding: 8px 8px;
  margin-left: -4px;
  margin-top: -8px;
  background: black;
  color: white;
  border-right: 1px solid #ccc;
}

.right-navigation input[type="submit"]:hover {
  background: green;
}

.sub-navigation {
  background: #ccc;
  margin-top: -19px;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

.sub-navigation a {
  margin-top: -20px;
  padding: 5px 10px;
}

.sub-navigation a:hover {
  background: #eee;
}

#session-section{
  background: white;
  border: 1px solid #ccc;
  left: 50%;
  margin-left:+148px;
  padding: 20px;
  width:  260px;
  position:absolute;
  display: none;
}

#session-section .page-middle {
 background: transparent;
 padding: 0; 
}

#session-section input[type="text"],
#session-section input[type="password"] {
  padding: 10px 7px;
  width: 246px;
}

#session-section input[type="password"]{
  margin-bottom: 10px;
}


#session-section input[type="submit"],
#session-section a {
  background: #ddd;
  font-size: 14px;
}

#session-section input[type="submit"] {
  color: red;
  padding: 5px 0px;
  width: 121px;
  margin-right: 10px;
}


#session-section a {
  background: transparent;
  font-size: 14px;
  white-space: nowrap;
  padding: 5px 3px;
}

/* ----- MAIN ----- */

.main-header-wrapper{
  font-size: 50px;
  height: 50px;
  padding: 10px 0px;
}

.main-header {
  width: 900px;
  margin: auto;
}

.main {
  background: #707070;
  padding: 20px;
  width: 860px;
  margin-left: auto;
  margin-right: auto;
}

.main-footer {
  width: 900px;
  margin: auto;
  background: black;
  font-size: 12px;
  height: 18px;
  padding-top: 4px;
}

.main-footer a {
  padding: 0px 20px;
  color: grey;
}

/* ----- SQUARES ----- */

.user-sq,
.book-sq {
  display: inline-block;
  background: #a9a9a9;
  text-align: center;
  white-space: nowrap;
  margin: 5px;
  border: 1px solid #bbb;
}

.user-sq-avatar{
}

.user-sq-avatar img{
}

.user-sq-name,
.book-sq-title{ 
  color: white;  
}


/* ----- BOOK ----- */

.book {
  background: #ccc;
  font-size: 18px;
  min-height: 250px;
  margin-bottom: 10px;
  padding:30px;
}

.book-cover {
  float:left;
  display: inline-block;
  margin-right: 30px;
}

.book-cover img {
  width: 150px;
  border: 1px solid #eee;
}

.book-title {
  font-size: 30px;
}

.book-author {
  font-size: 12px;
}

.book-download {
  font-size: 12px;
}

.book-description{
  margin-top: 12px;
  text-align: justify;
  font-size: 16px;
}


/* ----- USER ----- */

.user {
  background: #ccc;
  width: 100%;
  font-size: 18px;
  min-height: 120px;
  margin-bottom: 10px;
}

.user-image {
  float:left;
  display: inline-block;
  margin: 10px 10px;
  border: 1px solid #eee;
}

.user-info {
  display: inline-block;
  padding: 10px;
  width: 75%;
}

.user-name {
  font-size: 30px;
}

.user-join {
  font-size: 12px;
}


/* ----- COMMENT ----- */

.comments-list {
  background: white;
  padding-top: 20px;
  display: none;
}

.comment {
  margin-bottom: 10px;
  margin-left: 20px;
}

.comment-header {
  background: #ddd;
}

.comment-user {
  display: inline;
}

.comment-date {
  display: inline;
  float: right;
}

.comment-botton {
  font-size: 14px;
}

.comment-new {
  background: #ccc;
  padding-top: 10px;
}

.comment-new {
  margin-bottom: 20px;
  display: none;
}

.comment-new textarea{
  font-size: 14px;
  height: 25px;
  width: 87%;
  margin: auto;
  margin-top: 10px;
}

.comment-new input[type="submit"] {
  width: 100%;
  display:block;
  margin: auto;  
}


/* ----- QUESTION ----- */

.question {
  border: 1px solid #707070;
  margin-bottom: 10px;
}

.question-content{
  background: #eee;
}

.question-name{
  display: block;
  padding: 5px 10px;
  font-size: 20px;
}

.question-description{
  background: #ddd;
  padding: 5px 5px 5px 10px;
  font-size: 16px;
}

.question-footer {
  background: #eee;
  text-align: right;
  font-size: 12px;
  padding: 4px 0px;
}

.question-footer a {
  padding: 0px 10px;
}

.question-footer .responses-botton {
  border-right: 1px solid black;
}


.question-show-page .question-content {
  background: #ccc;
  min-height: 265px;
}

.question-show-page .book-sq {
  margin-top: 14px;
  margin-left: 20px;
  margin-right: 20px;
  float: left;
  border: 8px solid #ddd;
}

.question-show-page .question-content .question-name {
  font-size: 30px;
  padding-top: 20px;
}

.question-show-page .question-content .question-description {
  margin-top: 20px;
}

.question-show-page .question > .comments-list{
  padding-right: 20px;
}

